
<mat-card>
<div class="wrapper">

  <div class="row h-100">
    <div class="col-sm-12 my-auto">
    <img width="600" height="" src="../../../assets/quiz-time-poster-colorful-paper-260nw-1186919491.png" alt="image">
    <img width="600" height="" src="../../../assets/quiz-time-poster-colorful-paper-260nw-1186919491.png" alt="image">
    <img width="600" height="" src="../../../assets/quiz-time-poster-colorful-paper-260nw-1186919491.png" alt="image">
    
  </div>
 </div>
<div class="container" class="row h" class="full-width">
</div>


</div>
</mat-card>
<br>
<mat-card>
  <div class="wrapper">
  
    <div class="row h-100">
      <div class="col-sm-12 my-auto">
      <img width="600" height="" src="../../../assets/quiz-time-poster-colorful-paper-260nw-1186919491.png" alt="image">
      <img width="600" height="" src="../../../assets/quiz-time-poster-colorful-paper-260nw-1186919491.png" alt="image">
      <img width="600" height="" src="../../../assets/quiz-time-poster-colorful-paper-260nw-1186919491.png" alt="image">
      
    </div>
   </div>
  <div class="container" class="row h" class="full-width">
  </div>
  
  </div>
  </mat-card>
  <br>

<mat-card>
  <div class="wrapper">
  
    <div class="row h-100">
      <div class="col-sm-12 my-auto">
      <img width="600" height="" src="../../../assets/quiz-time-poster-colorful-paper-260nw-1186919491.png" alt="image">
      <img width="600" height="" src="../../../assets/quiz-time-poster-colorful-paper-260nw-1186919491.png" alt="image">
      <img width="600" height="" src="../../../assets/quiz-time-poster-colorful-paper-260nw-1186919491.png" alt="image">
    
    
    </div>
   </div>
  <div class="container" class="row h" class="full-width">
  </div>
  
  
  </div>
  </mat-card>
  