<div class="bootstrap-wrapper">

    <div class="container-fuild">

        <h1>Available quizzes</h1>

        <div class="row mt20" *ngIf="quizzes">

<div class="col-md-4" *ngFor="let q of quizzes">
<mat-card class="mb30">
    <div mat-card-avatar class="example-header-image"></div>

<mat-card-title>
    <h1>{{q.title}}</h1>
</mat-card-title>


    <mat-card-subtitle>
{{q.category.title}}
    </mat-card-subtitle>

<mat-card-content>
    <p class="truncate">{{q.description}}</p>
</mat-card-content>
<mat-card-action>
    <button mat-raised-button color="primary">View</button> 

    <button mat-raised-button  color="accent" class="ml10">Start</button>
    <button mat-button color="primary">{{q.numberOfQuestions}}</button>
    <button mat-button color="accent">M.M:{{q.maxMarks}}</button>

</mat-card-action>

</mat-card>



</div>

<div class="col-md-12" *ngIf="quizzes.length==0">
    <mat-card>
    <mat-card-content >
        <h1>No data in this category</h1>
    </mat-card-content>
</mat-card>
</div>


        </div>
    </div>
</div>